sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
  slack: snyk:5hknLE8muATMpE75TgeVFZzz
node_js:
  - 6
  - 8
after_success:
  - npm run semantic-release
